{% extends 'WorldiaTextmasterBundle::layout.html.twig' %}

{% block content %}
<ul>
    <li>{{ resource.name }}</li>
    <li>{{ resource.status }}</li>
    <li>{{ resource.activity }}</li>
    <li>{{ resource.category }}</li>
    <li>{{ resource.languageFrom }}</li>
    <li>{{ resource.languageTo }}</li>
    <li>{{ resource.briefing }}</li>
    <li>
        <ul>
        {% for option, value in resource.options %}
            <li>{{ option }}: {{ value }}</li>
        {% endfor %}
        </ul>
    </li>
</ul>
{% endblock %}
