{% extends 'WorldiaTextmasterBundle::layout.html.twig' %}

{% block content %}
<ul>
    <li>{{ resource.title }}</li>
    <li>{{ resource.status }}</li>
    <li>{{ resource.instructions }}</li>
    <li>
        {% if resource.originalContent is iterable %}
            {% for key, value in resource.originalContent %}
                {{ key }}: {{ value.orignial_phrase }}
            {% endfor %}
        {% else %}
            {{ resource.originalContent }}
        {% endif %}
    </li>
    <li>{{ resource.translatedContent }}</li>
    <li>{{ resource.wordCount }}</li>
    <li>
        {% if resource.callback is iterable %}
            {% for key, value in resource.callback %}
                {{ key }}: {{ value.url }}
            {% endfor %}
        {% else %}
            {{ resource.callback }}
        {% endif %}
    </li>
    <li>
        {% if resource.customData is iterable %}
            {% for key, value in resource.customData %}
                {{ key }}: {{ value }}
            {% endfor %}
        {% else %}
            {{ resource.customData }}
        {% endif %}
    </li>
</ul>
{% endblock %}
